@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');

:root {
    --primaryTextColor: #F1F6F9;
    --secondaryTextColor: #F7F7F7;


    --borderColor: #05165a;
    --lineColor: #EFEFEF;

    --primaryBackgrounColor: #1A1A2E;
    --secondaryBackgroundColor: #16213E;
    --thirdBackgroundColor: #0F3460;


    --primaryColor: #E90064;
    --primaryIconColorHover: #B3005E;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "Poppins", sans-serif ;
    background-color: var(--primaryBackgrounColor);
}


h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}
@media screen and (max-width: 1200px){
    .main-container {
        width: 90%;
    }
}

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}


/* Layout */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}


/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 2rem;
}

.logo a {
    color: var(--primaryTextColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
}


/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #F1F6F9;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}



/* Hero */
#hero {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;

}

.hero-name span {
    color: var(--primaryIconColorHover);
}

.hero-right img {
    width: 90%;
}

.hero-right {
    display: flex;
    justify-content: center;
}



/* Portfolio */
#portfolios {
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.portfolio-cover {
    height: 250px;
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4 {
    font-weight: 500;
    /* color: var(--primaryIconColorHover); */
    font-size: 1.3rem;
}

.portfolio-title svg {
    fill: #aba8a9;
}

.portfolio-title a svg:hover {
    fill: var(--primaryColor);
}

.portfolio-title a svg {
    transition: 0.2s ease-in-out;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: 0.9rem;
    border: 1px solid var(--borderColor);
    padding: 0.4rem 1rem;
    color: var(--secondaryTextColor);
}



/* Contact */
#contact {
    padding: var(--sectionPadding);
    height: 70vh;
    /* background: var(--secondaryBackgroundColor); */
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Poppin", sans-serif;
    color: black;
    background: var(--secondaryTextColor); 
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none; 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--primaryColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: var(--primaryIconColorHover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: var(--primaryTextColor);
}

.contact-item-detail {
    margin-bottom: 0.6rem;
}



/* Footer */
footer {
    padding: 3rem 0;
    background: var(--secondaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    fill: #b4babd;
}

.footer-icons a:hover svg {
    fill: white;
}


/* Material Hero */

.material-hero {
    padding: var(--sectionPadding);
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-hero img {
    height: auto;
    width: 65rem;
    max-width: 100%;
    
}

/* Paragraph */

#paragraph {
    padding: var(--sectionPadding);
}

.paragraph p {
    font-size: 1.3rem;
    line-height: 2.8rem;
}


/* Hero about */
#about{
    padding: var(--sectionPadding);
}

.hero-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-about img {
    height: auto;
    width: 80rem;
    max-width: 100%;
}

/* Button */
.button {
    padding: 1rem 1.5rem;
    background: #D61355;
    border: 1.5px solid var(--primaryColor);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--secondaryTextColor);
    font-size: 1.2rem;
    border-radius: 10px;
}

.button svg {
    fill: white;
}

/* Scoial media btn */

.Social-media a {
    padding: 1rem 1rem;
    gap: 1rem;
}